.spotlight__cards {
   display: flex;
   gap: 30px;
   font-family: 'Soyuz Grotesk';
   margin: 70px 20px;
   margin-bottom: 200px;
   justify-content: center;
   flex-wrap: wrap;


 }


 .item_title {
  font-size: 30px;
  margin-bottom: 15px;
  color: white;
   font-family: 'Soyuz Grotesk';

 }
 
 .item_text  {
 font-size: 20px;
 color: #a6a6a6;
   font-family: 'Soyuz Grotesk';


 }
 