.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 100px;
   @media (max-width: 1100px) {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
}
.custom_spotlight_card {
  
}
.item_title {
   font-size: 30px;
   margin-bottom: 15px;
   color: white;
    font-family: 'Soyuz Grotesk';
 
  }
  
  .item_text  {
  font-size: 20px;
  color: #a6a6a6;
    font-family: 'Soyuz Grotesk';
 
 
  }
  .ruslan {
    @media (max-width: 1100px) {
      order: 1;
    }

    img {
      max-width: 500px;
      width: 100%;
    }
  }
  .about {
    @media (max-width: 1100px) {
      order: 2;
    }
  }
