.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
   padding: 120px;
   h1 {


    font: MetroSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(1.75rem, 1.5475rem + 1.0127vw, 2.75rem);
}
@media (max-width: 600px) {
    padding: 50px;
}
}

.photo {
    display: flex;
    flex-wrap: wrap;
    .drag {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        
    }

    @media (max-width: 600px) {
        justify-content: center;
    }
}

.drag1 {
    background-image: url('/draggable1.gif');
    
}
.drag2 {
    background-image: url('/draggable2.gif');
    
}

.drag3 {
    background-image: url('/draggable3.gif');
    
}
.drag4 {
    background-image: url('/draggable4.gif');
    
}
.drag5 {
    background-image: url('/draggable5.gif');
    
}
.drag6 {
    background-image: url('/draggable6.gif');
    
}
