.svg {
   width: 100%;
   max-width: 400px;
   animation: rotate 10s infinite ;

   @media (max-width: 1000px) {
      display: none;
   }
}

@keyframes rotate {
   from {
      rotate: 0deg;
   }
   to {
      rotate: 360deg;
   }
}
.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
  margin-top: 200px;
}

.footer {
  padding: 120px;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding: 50px;
   border: 2px solid black;
   border-radius: 40px;
   max-width: 800px;
   width: 100%; 
   
    @media (max-width: 600px) {
      border: none;
      align-items: center;
      background-color: #e0e0e0;
      color: #333333;
      padding: 30px;
    }
    @media (max-width: 410px) {
      padding: 10px;
    }

   h1 {
      text-transform: uppercase;
      letter-spacing: 4px;
   }

   input {
      max-width: 500px;
      width: 100%;
      padding: 20px;
      border-radius: 20px;
      

   }

   button {
      position: relative;
      overflow: hidden;
      border: 1px solid black;
      border-radius: 20px;
      background: transparent;
      padding: 12px 24px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      max-width: 300px;
      width: 100%;
      span {
        position: relative;
        z-index: 1;
      }
    
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300%;
        height: 300%;
        background: radial-gradient(circle, black, black);
        transition: transform 0.5s ease-in-out;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
      }
    
      &:hover {
        color: white;
      }
    
      &:hover::before {
        transform: translate(-50%, -50%) scale(1);
      }
    }
    
}
