
 
 .window {
   // position: absolute; 
   position: relative;
   max-width: 600px;
   width: 100%;
   height: 200px; 
   cursor: grab;
   background-color: #fff;
   border: 1px solid black; 
   border-radius: 8px; 
   box-shadow: 10px 14px 0px black;
   

 }
 
 .header {
   color: white; 
   background-color: black;
   padding: 10px; 
   display: flex; 
   justify-content: space-between; 
   align-items: center; 
   border-top-left-radius: 8px; 
   border-top-right-radius: 8px; 
   border: 2px solid black;
 }

 
 .closeButton {
   background-color: #fff;
   color: black; 
   border: none; 
   width: 30px; 
   height: 20px; 
   font-size: 16px; 
   cursor: pointer; 
   text-align: center; 
   transition: 0.2s;
   &:hover {
     background-color: black; 
     color: #fff;
   }
 }
 
 .content {
   padding: 20px; 
   font-size: 30px; 
   display: flex;
   flex-direction: column;
   span {
      font-size: 20px;
      color: gray;
   }
 }
 .pink {
   background-color: pink;
   animation: error 0.3s infinite ;


   @keyframes error {
    from {
      background-color: #fff;
    }
    to {
      background-color: rgb(246, 121, 121);
    }
   }
 }




 .window {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.window.resetting {
  transform: scale(0);
  opacity: 0;
}

.window:not(.resetting) {
  transform: scale(1);
  opacity: 1;
}
.btns {
  display: flex;
  gap: 10px;
}